<div class="dev-ribbon">
  In<br>Development
</div>
<header class="header">
    <a href="/">
        <div class="header__logo">
        <p class="logo__text">Lucas Lapaz</p>
    </div>
    </a>
    <nav class="header__navbar">
        <ul class="navbar__list">
            <li class="navbar__button"><a class="navbar__link" href="/#projects">Projects</a></li>
            <li class="navbar__button"><a class="navbar__link" href="/notes">My Notes</a></li>
            <li class="navbar__button"><a class="navbar__link" href="/#about">About</a></li>
            <li class="navbar__button"><a class="navbar__link" href="/#contact">Contact</a></li>
            <li class="navbar__button"><a class="navbar__link" href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>