<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Ops!</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/png" href="/icons/letra-l.png">
</head>

<body>
    <div class="wrapper">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <section class="error">
                <h1 class="error__title">401 - Não autorizado</h1>
                <p class="error__p">
                    Ops! Parece que você tentou acessar uma página que requer autenticação.<br>
                    Faça login para continuar ou volte para a <a class="error__link" href="/">página inicial</a>.
                </p>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>
    <script src="/assets/script.js"></script>
</body>

</html>