.dev-ribbon {
    position: fixed;
    top: 20px;
    /* distância do topo, ajuste conforme o design */
    left: -60px;
    /* empurra um pouco para fora para centralizar melhor */
    width: 200px;
    /* largura da faixa */
    height: 50px;
    /* altura maior para caber o texto em duas linhas */
    background: red;
    color: white;
    text-align: center;
    line-height: 24px;
    /* define altura das linhas, ajuste conforme tamanho da fonte */
    transform: rotate(-45deg);
    /* diagonal indo para cima à esquerda */
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 800px;
    z-index: 9999;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    pointer-events: none;
    /* evita que a faixa atrapa*/
}

html {
    font-size: 62.5%;

    --dark-background-color: #111827;
    --dark-primary-color: #00c16a;
    --dark-primary-dark-color: #009e57;
    --dark-text-color-white: #ffffff;
    --dark-text-color-silver: #868a92;
    --dark-border-color: #283040;

    --font-ubuntu: "Ubuntu", "Ubuntu Fallback";
    --font-open-sans: "Open Sans", "Open Sans Fallback";
    --font-caveat: "Caveat", "Caveat Fallback";

    --border-radius: 0.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--dark-text-color-white)
}

h1,
h2,
h3 {
    font-family: var(--font-ubuntu);
    line-height: 4rem;
}

h2 {
    font-size: 1.4rem;
    color: var(--dark-primary-color)
}

p {
    font-family: var(--font-open-sans);
}

a {
    user-select: none;
    text-decoration: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

button {
    background-color: unset;
    border: none;
    font: inherit;
    cursor: pointer;
}

section {
    margin-bottom: 3rem;
}

body {
    background-color: var(--dark-background-color);
    width: 100%;
    min-height: 100vh;
    font-family: var(--font-open-sans);
    color: var(--dark-text-color-white);
    font-weight: 400;
    font-size: 1.6rem;
}

.wrapper {
    width: 100%;
    max-width: 67.2rem;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;
    margin-bottom: 2rem;
    position: sticky;
    top: 0;
    background-color: var(--dark-background-color);
    z-index: 10;
}

.header__logo {}

.logo__text {
    color: var(--dark-primary-color);
    font-weight: 800;
    font-size: 2.4rem;
    font-family: var(--font-caveat);
}

.navbar__list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar__button {}

.navbar__link {
    text-decoration: none;
    color: var(--dark-text-color-white);
    transition: .4s all;
    font-family: var(--font-ubuntu);
    /* font-size: 1.4rem; */
    padding: .5rem .6rem;
}

.navbar__link:hover {
    color: var(--dark-primary-color)
}


main {
    flex: 1;
}

.hero {}

.hero__content {
    margin-right: 3rem;
}

.hero__wrapper1 {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

.hero__image {
    aspect-ratio: 1/1;
    height: 11rem;
    background-color: silver;
    clip-path: circle(50%);
    user-select: none;
}

.hero__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.hero__paragraph {
    color: var(--dark-text-color-silver);
    margin-bottom: .3rem;
    font-weight: 500;
}

.hero__city {
    margin-bottom: 1rem;
}

.social-media__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.2rem;
}

.social-media__buttons a {
    margin-right: 1rem;
}

.hero__resume-btn {
    padding: .8rem 1.6rem;
    background-color: var(--dark-primary-color);
    border-radius: var(--border-radius);
    width: fit-content;
    display: grid;
    place-content: center;
}

.social-media-btn {
    display: grid;
    place-content: center;
    aspect-ratio: 1/1;
    height: 100%;
    padding: 5px;
    border: .1px solid var(--dark-text-color-silver);
    border-radius: var(--border-radius);
}

.about-me {}

.about-me__paragraph {
    margin-bottom: 1.7rem;
    font-weight: 400;
}

.about-me__hidden {
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    opacity: 0;
}

.about-me__hidden[data-hidden="false"] {
    max-height: 1000px;
    opacity: 1;
}

.about-me__view-more {
    color: var(--dark-text-color-silver)
}


.recent-projects {
    width: 100%;
}

.project__cards {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
    overflow-x: auto;
}

.project__card {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: .1rem solid var(--dark-text-color-silver)
}

.project__image {
    width: 100%;
    flex: 1;
    overflow: hidden;
}

.project__image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.project__info {
    padding: 1rem;
    flex: 0;
    min-height: 10rem;
}

.project__title {}

.project__desc {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--dark-text-color-silver)
}

.technologies {
    width: 100%;
}

.technologies__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: .5rem
}

.technology {
    border: 0.1px solid var(--dark-text-color-silver);
    /* flex-grow: 1; */
    aspect-ratio: 1/1;
    width: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    gap: 1rem;
}

.technology__icon {
    display: block;
    width: 50%;
    aspect-ratio: 1/1;
}

.technology__icon path {
    fill: white;
}

.technology__paragraph {
    line-height: 1;
    font-size: 1.2rem;
    color: var(--dark-text-color-silver);
    font-weight: 500;
    user-select: none;
}

.lets-connect {
    font-weight: 500;
}

.lets-connect__paragraph {
    margin: 0 auto;
    display: block;
    width: fit-content;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.lets-connect .hero__resume-btn {
    margin: 0 auto;
}

.footer {
    padding: 2rem 0;
    border-top: .2rem solid var(--dark-text-color-silver);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__copyright {
    font-weight: 500;
}

.error__link {
    color: var(--dark-primary-color)
}


/* ======== Estilo específico para a página de login ======== */

.login {
    max-width: 400px;
    /* largura máxima do formulário */
    width: 100%;
    margin: 8rem auto;
    /* centraliza verticalmente e horizontalmente */
    padding: 3rem 2rem;
    background-color: var(--dark-border-color);
    /* fundo branco */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}

.login__title {
    font-size: var(--text-4xl);
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}

.login__username,
.login__password {
    width: 100%;
    padding: 1rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: inherit;
    font-size: var(--text-base);
    outline: none;
    transition: border-color 0.3s ease;
    color: var(--dark-border-color)
}

.login__username:focus,
.login__password:focus {
    /* background-color: var(--dark-primary-color); */
}

.login__submit {
    width: 100%;
    padding: 1rem 1.2rem;
    background-color: var(--dark-primary-color);
    color: white;
    font-size: var(--text-base);
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login__submit:hover {
    background-color: var(--dark-primary-dark-color);
    transform: translateY(-1px);
}

.login__submit:disabled {
    background-color: rgba(0, 0, 0, 0.555);
    cursor: not-allowed;
}



@media (max-width:750px) {
    .wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}