<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/png" href="/icons/letra-l.png">
</head>

<body>

    <%- include('../partials/header.ejs') %>

    <main class="main">
        <div class="main-wrapper wrapper">
            <section class="about-section">
                <h1 class="about-section__title">I'M LUCAS LAPAZ</h1>
                    
                <p class="about-section__p">I started learning programming at the age of 12 when I was introduced to reverse engineering. Since then, I’ve been passionate about understanding how things work at a deeper level. Although I haven’t had the opportunity to work professionally in the field yet, I continue studying and improving my skills.</p>

                <p class="about-section__p">I don’t have a fixed stack at the moment, but I lean towards backend development. I’m currently focusing on systems architecture, assembly, C++, reverse engineering, TypeScript, JavaScript, Node.js, and MySQL.</p>

                <p class="about-section__p">I consider myself to have solid knowledge in software architecture, clean code, SOLID principles, clean architecture, JavaScript, TypeScript, and MySQL.</p>

                <p class="about-section__p">Over the years, I’ve also gained experience with networking (OSI model, switches, firewalls, routers, topologies), web development (React, CSS, Tailwind, JavaScript, TypeScript), desktop development (C++, C#, assembly, Java), Android development (Xamarin C#, payment terminals), backend (Node.js, Next.js, MySQL), and cloud technologies like AWS and Cloudflare.</p>

                <p class="about-section__p">The purpose of this website is to share my personal notes and write blog posts to help others understand concepts that were once unclear to me but became mind-opening when I finally grasped them.</p>
                                    
                <a class="about-section__about" href="./sobre">
                    <p>See More About Me</p>
                    <span>&rightarrow;</span>
                </a>
            </section>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="/assets/script.js"></script>
</body>

</html>