<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/png" href="/icons/letra-l.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <%- include('../partials/header.ejs') %>
        <main class="main">
            <section class="login">
                <h1 class="login__title">LOGIN</h1>
                <input type="input" class="login__username">
                <input type="password" class="login__password">
                <input type="hidden" id="csrf_token" value="<%- csrfToken %>">
                <button type="button" class="login__submit">Entrar</button>
            </section>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

    <script src="/assets/script.js"></script>
    <script>
        const usernameInput = document.querySelector(".login__username");
        const passwordInput = document.querySelector(".login__password");
        const csrfTokenInput = document.getElementById("csrf_token");
        const submitButton = document.querySelector(".login__submit");

        submitButton.addEventListener("click", async (e) => {

            let username = usernameInput.value.trim();
            let password = passwordInput.value;
            let csrfToken = csrfTokenInput.value;

            if(password.length < 5 || username.length < 5){
                const msg = "O usuário ou a senha possuem no mínimo 5 caracteres cada.";
                window.alert(msg);
                return;
            }

            if(csrfToken == null){
                const msg = "Nenhum token csrf foi encontrado. Impossível concluir a operação.";
                window.alert(msg);
                return;
            }

            try{
                e.target.disabled = true;

                let request = await fetch("/login", {
                    method: 'POST',
                    credentials:"include",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({username, password, csrfToken})
                })

                if(!request.ok){
                    throw new Error("O servidor retornou erro como resposta à tentativa de login.");
                }
                
                const response = await request.json();
                console.log(response.message);
                window.location.href = "/home";

            }catch(err){
                console.log("Aconteceu um erro: " + err.message);
            }
            e.target.disabled = false;
        })
        
    </script>
</body>

</html>